<h1>Account Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_types.each do |account_type| %>
      <tr>
        <td><%= account_type.name %></td>
        <td><%= account_type.description %></td>
        <td><%= link_to 'Show', account_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav>
  <%= link_to 'Add New', new_account_type_path %>
</nav>
