<h1>Dashboard</h1>

<table>
  <% @summary.each do |code, vhash| %>
    <tr class="<%= vhash[:updated] ? 'hilite' : '' %>">
      <th><%= @accounts[code][:name] %></th>
      <td class="money"><%= from_cents(vhash[:current]) %></td>
    </tr>
  <% end %>
</table>

