<h1>Dashboard</h1>

<%= link_to "Transaction", transactions_path %>
<span class="sep">|</span>
<%= link_to "Incomes", incomes_path %>
<span class="sep">|</span>
<%= link_to "Accounts", accounts_path %>
