/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.money {
  text-align: right;
}

.user-menu hr {
  border: 1px solid black;
}

.main-menu {
  margin: 30px 0;
}

.footer-menu {
  margin: 30px 0;
}

nav {
  margin: 10px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #004d03;
}

h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.5em;
}

span.sep {
  margin: 0 10px 0 15px;
}

.hilite, .hilite-danger .hilite-primary, .hilite-danger-primary {
  > td, th {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.hilite-primary {
  background-color: lightgreen;
  border: 1px solid green;
}

.hilite {
  background-color: #f1ffe8;
  border: 1px solid #a4c291;
}

.hilite-danger-primary {
  background-color: #ffcccc;
  border: 1px solid #ffaaaa;
}

.hilite-danger {
  background-color: #ffeeee;
  border: 1px solid #ffcccc;
}

.warn {
  background-color: #e3c100;
  border: 1px solid yellow;
  border-radius: 10px;

  > td {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.tr-pl-0 {
  th, td {
    > * {
      padding-left: 0px;
    }
  }
}
.tr-pl-20 {
  th, td {
    > * {
      padding-left: 20px;
    }
  }
}
.tr-pl-40 {
  th, td {
    > * {
      padding-left: 40px;
    }
  }
}
.tr-pl-60 {
  th, td {
    > * {
      padding-left: 60px;
    }
  }
}
.tr-pl-80 {
  th, td {
    > * {
      padding-left: 80px;
    }
  }
}
.tr-pl-100 {
  th, td {
    > * {
      padding-left: 100px;
    }
  }
}
.tr-pl-120 {
  th, td {
    > * {
      padding-left: 120px;
    }
  }
}
.tr-pl-140 {
  th, td {
    > * {
      padding-left: 140px;
    }
  }
}
.td-divider {
  height: 10px;
}
