<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Transaction type</th>
      <th>Source Account</th>
      <th>Target Account</th>
      <th>Amount</th>
      <th>Cut off</th>
      <th>Due date</th>
      <th>Actualized on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |tran| %>
      <%= render 'tr', tran: tran %>
    <% end %>
  </tbody>
</table>
