<nav class="footer-menu">
  <%= link_to 'Add Income', new_income_path %><span class="sep">|</span>
  <%= link_to 'Add Salary Expense', new_salary_expense_path %><span class="sep">|</span>
  <%= link_to 'Add Expense', new_expense_path %>
</nav>
