<nav class="footer-menu">
  <% if controller_name == "entities" %>
    <%= link_to 'New Root Entity', new_entity_path %><span class="sep">|</span>
  <% end %>

  <% if controller_name == "transaction_types" %>
    <%= link_to 'New Transaction Type', new_transaction_type_path %><span class="sep">|</span>
  <% end %>

  <%= link_to 'New Transaction', new_transaction_path, data: { turbolinks: false } %>
</nav>
