<nav class="footer-menu">
  <% if allowed_to?(:create?, :entity) %>
    <% if controller_name == "entities" %>
      <%= link_to 'New Root Entity', new_entity_path %><span class="sep">|</span>
    <% end %>
  <% end %>

  <% if controller_name == "transaction_types" %>
    <%= link_to 'New Transaction Type', new_transaction_type_path %><span class="sep">|</span>
  <% end %>

  <% if allowed_to?(:create?, :transaction) %>
    <%= link_to 'New Transaction', new_transaction_path, data: { turbolinks: false } %><span class="sep">|</span>
  <% end %>

  <%= link_to 'New Draft Transaction', new_transaction_path(draft: true), data: { turbolinks: false } %>
</nav>
